@model List<Assignment>

@{
    ViewBag.Title = "List tasks";
}

@if (Model != null && Model.Count != 0)
{
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Number</th>
            <th>Task name</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.Name</td>
                <td>
                    @if (a.Priority == 1) { <p class="priority-color-3">High</p> }
                    @if (a.Priority == 2) { <p class="priority-color-2">Medium</p> }
                    @if (a.Priority == 3) { <p class="priority-color-1">Low</p> }
                </td>
                <td>
                    @if (a.Status == 1) { <p>New</p> }
                    @if (a.Status == 2) { <p>Open</p> }
                    @if (a.Status == 3) { <p>Closed</p> }
                </td>
                <td>
                    @if (a.Status == 1)
                    {
                        <a asp-action="Open" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-dark">Open</a>
                        <a asp-action="Details" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-dark">Details</a>
                        <a asp-action="Delete" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-danger">Delete</a>
                    }
                    @if (a.Status == 2)
                    {
                        <a asp-action="Close" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-dark">Close</a>
                        <a asp-action="Details" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-dark">Details</a>
                    }
                    @if (a.Status == 3)
                    {
                        <a asp-action="Delete" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Details" asp-controller="Assignment" asp-route-assignmentId="@a.Id" class="btn btn-outline-dark">Details</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center">Unfortunately, there are no tasks for you at the moment :с</h4>
    <p class="text-center"><a asp-action="Create" asp-controller="Assignment" class="btn btn-dark">Add new task</a></p>
}